*.vcxproj linguist-vendored
*.vcxproj.filters linguist-vendored
*.props linguist-vendored
*.targets linguist-vendored
*.cpp linguist-vendored
*.h linguist-vendored
*.hpp linguist-vendored

AppPackages/* linguist-vendored
**/bin/* linguist-vendored
**/obj/* linguist-vendored

*.cs linguist-language=C#
*.xaml linguist-language=XAML
