# 忽略 C++ 生成文件
*.vcxproj linguist-vendored
*.vcxproj.filters linguist-vendored
*.props linguist-vendored
*.targets linguist-vendored
*.cpp linguist-vendored
*.h linguist-vendored
*.hpp linguist-vendored

# 忽略编译文件夹
AppPackages/* linguist-vendored
**/bin/* linguist-vendored
**/obj/* linguist-vendored

# 标记语言类型（让 GitHub 识别 XAML）
*.cs linguist-language=C#
*.xaml linguist-language=XAML
